table{
    width: 100%;
}

table, th, td {
   border: 1px solid #ddd;
   overflow: hidden;
}

input{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 5.5em;
    border: none;
}

textarea{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 5.5em;
    border: none;
}

#menu{
    margin-bottom: 1em;
}

#menu button {
    margin-right: 0.25em;
}

.menu_new{
    margin-left: 2em;
}

.search {
    margin-bottom: 2em;
    border-width: 2px;
    border-style: inset;
    height: 2em;
}



.tabledelete{
    text-align: center;
}

.idtextarea{
    resize: none;
    text-align: center;
}



/************************************
Music
***********************************/
.MusicID{
    width: 5%;
}

.MusicArtist{
    width: 20%;
}

.MusicTitle{
    width: 20%;
}

.MusicText{
    width: 30%;
}

.MusicNotes{
    width: 10%;
}

.MusicLink{
    width: 5%;	
}

.MusicLink textarea{
    overflow: hidden;
}

.MusicSpotify{
    max-width: 80px;
}

.MusicSpotify iframe{
    padding-top: 3px;
}



/***********************************
Emotion (I currently use this project for more than one purpose)
***********************************/

.EID{
    width: 10%;
}

.EDateTime{
    width: 20%;
}

.ERating{
    width: 10%;
}

.ERating textarea{
    text-align: center;
}

.ERatingEmoji{
    width: 10%;
}

.ERatingEmoji textarea{
    text-align: center;
}

.EText{
    width: 40%;
}

.tableeditnew{
    width: 5%;
}

.tabledelete{
    width: 5%;
}
