table{
	width: 100%;
}

table, th, td {
   border: 1px solid #ddd;
}

input{
	width: 95%;
	border: none;
	margin-left: 2.5%
}

textarea{
	width: 95%;
	margin-left: 2.5%;
	height: 4.5em;
	border: none;
}

.search {
	margin-bottom: 2em;
    border-width: 2px;
    border-style: inset;
	height: 2em;
}

.table0{
	width: 5%;
}

.table1{
	width: 20%;
}

.table2{
	width: 20%;
}

.table3{
	width: 30%;
}

.table4{
	width: 10%;
}

.table5{
	width: 10%;
}

.table6{
	overflow: hidden;
}

.tableeditnew{
	width: 5%;
}

.tabledelete{
	width: 5%;
}